{{response.files.append(URL('static', 'js/site/user_loc.js'))}}
{{extend 'layout.html'}}

<a class="btn btn-default" title="{{=T('na hlavní stranu')}}" href="{{=URL('default', 'index')}}">
  <span class="glyphicon glyphicon-home"></span>
</a>

<div class="jumbotron">
{{if locs:}}<div class="panel panel-default">
  <div class="panel-heading">{{=T("Vaše místa zájmu:")}}</div>
  <div class="panel-body">
  <table class="table">
    <thead>
      <tr>
        <th style="width: 20px">
          <a title="{{=T('přidat další místo')}}" href="{{=URL('new')}}">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </th>
        <th>{{=T("Místo")}}</th>
      </tr>
    </thead>
    <tbody>
    {{for loc in locs:}}<tr>
        <td><a class="deleteLoc"
               title="{{=T('odstranit')}}"
               data-href="{{=URL('delete', vars={'id': loc.user_loc.id})}}">
            <span class="glyphicon glyphicon-remove"></span>
        </a></td>
        {{=TD(loc.user_loc.name or loc.loc.name)}}
    </tr>{{pass}}
    </tbody>
  </table>
  </div>
</div>{{else:}}
  <div class="well">
    {{=T("Ještě nemáte zvoleno žádné místo zájmu.")}}<br />
    {{=T("Můžete si nějaké přidat.")}}
    <p class="center"><a class="btn btn-primary" title="{{=T('přidat místo zájmu')}}" href="{{=URL('new')}}">
      <span class="glyphicon glyphicon-plus"></span>
    </a></p>
  </div>
{{pass}}
</div>

<!-- Modal -->
<div id="sureDelete" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{=T("Odstranit místo")}}</h4>
      </div>
      <div class="modal-body">
        <p>{{=T("Opravdu odstranit místo zájmu?")}}</p>
      </div>
      <div class="modal-footer">
        <button id="yesDelete" type="button" class="btn btn-primary" data-dismiss="modal">{{=T("Ano, odstranit")}}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{{=T("Ne")}}</button>
      </div>
    </div>

  </div>
</div>
