{{extend 'layout.html'}}

<div>
<!-- login & setup -->
<div class="btn-group">
    <a class="btn btn-{{if auth.user_id:}}primary{{else:}}default{{pass}}"
                title="{{=(T('odhlásit uživatele %s') % auth.user.username) if auth.user_id else T('přihlásit se')}}"
                href="{{=URL('default', 'user', args='logout' if auth.user_id else 'login')}}">
        <i class="fa fa-user-o"></i> {{=auth.user and auth.user.username or ''}}
    </a>
    <!--
    <a class="btn btn-default"
                title="{{=T('nastavení')}}"
                href="{{=URL('settings', 'main')}}">
        <i class="fa fa-sliders"></i>
    </a>
    -->
</div>

<!-- applications -->
<a href="/krepo" class="btn btn-default"><i class="fa fa-mobile fa-lg"></i> K-Report mobile</a>

<!-- weather -->
<button class="btn btn-default" data-toggle="collapse" data-target="#pocasi">
    <i class="fa fa-sun-o"></i> Počasí
    <span id="pocasi" class="collapse">
        <span class="btn-group">
            <a href="http://mapy.in-pocasi.cz/" class="btn btn-primary">ČR 1 <i class="fa fa-rss"></i></a>
            <a href="http://radar.bourky.cz/" class="btn btn-primary">ČR 2 <i class="fa fa-rss"></i></a>
            <a href="http://www.radareu.cz/" class="btn btn-primary">EU <i class="fa fa-rss"></i></a>
        </span>
        <span class="btn-group">
            <a href="http://www.meteoalarm.eu/" class="btn btn-warning">EU <i class="fa fa-bolt"></i> !!</a>
            <a href="http://portal.chmi.cz/files/portal/docs/meteo/om/zpravy/" class="btn btn-warning">ČR <i class="fa fa-bolt"></i> !!</a>
        </span>
        <span class="btn-group">
            {{if loc and loc.yr:}}
                <a href="https://www.yr.no/sted/{{=loc.yr}}" class="btn btn-info">yr.no</a>
                <a href="https://www.yr.no/sted/{{=loc.yr}}/langtidsvarsel.html" class="btn btn-default">9d</a>
            {{else:}}
                <a href="https://www.yr.no" class="btn btn-info">yr.no</a>
            {{pass}}
            <a href="http://portal.chmi.cz/files/portal/docs/meteo/ov/aladin/results/ala.html#prec?" class="btn btn-info">Aladin <i class="fa fa-umbrella"></i></a>
        </span>
    </span>
</button>

<!-- maps -->
<button class="btn btn-default" data-toggle="collapse" data-target="#mapy">
    <i class="fa fa-map-marker"></i> Mapy
    <span id="mapy" class="collapse">
        <span class="btn-group">
            <a href="http://www.openstreetmap.org/#map=9/50.0942/14.2740" class="btn btn-primary">Osm</a>
            <a href="https://mapy.cz/turisticka?x=14.4206948&y=50.0326060&z=10&l=0" class="btn btn-primary">Seznam</a>
        </span>
    </span>
</button>

<!-- transportation -->
<button class="btn btn-default" data-toggle="collapse" data-target="#doprava">
    <i class="fa fa-subway"></i> Doprava
    <span id="doprava" class="collapse">
        <span class="btn-group">
            <a href="http://www.idos.cz/" class="btn btn-primary">ČR <i class="fa fa-sort-numeric-asc"></i></a>
            <a href="http://www.jizdni-rady.nanadrazi.cz/index.php?page=odkazy-na-vlakove-jizdni-rady" class="btn btn-primary">EU <i class="fa fa-sort-numeric-asc"></i></a>
        </span>

        <span class="btn-group">
            <a href="http://jizdenka.idos.cz/NT.aspx" class="btn btn-info"><i class="fa fa-money fa-lg"></i></a>
            <a href="https://www.cd.cz/typy-jizdenek/mezinarodni-jizdenky/default.htm" class="btn btn-info"><i class="fa fa-eur"></i></a>
            <a href="http://vlakem.net/" class="btn btn-info">EU jak?</a>
            <a href="http://www.europetrainsguide.com/" class="btn btn-info">EU Guide</a>
        </span>

        <span class="btn-group">
            <a href="http://www.cd.cz/" class="btn btn-warning">ČD</a>
            <a href="http://www.cd.cz/eshop" class="btn btn-warning"><i class="fa fa-shopping-basket"></i></a>
            <a href="https://www.cd.cz/jizdni-rad/omezeni-provozu/" class="btn btn-warning"><i class="fa fa-warning"></i></a>
        </span>

        <span class="btn-group">
            <a href="http://www.regiojet.cz/" class="btn btn-default">RJ</a>
            <a href="https://www.regiojet.cz/nase-trasy/mapa/" class="btn btn-default"><i class="fa fa-map-o"></i></a>
            <a href="https://jizdenky.regiojet.cz/OnTheRoad?0" class="btn btn-default"><i class="fa fa-warning"></i></a>
        </div>
    </span>
</button>
</div>

<div class="well">
    <h3><b>Burza KMB</b> - <small>cestujte vlakem nad 100 km za {{='{:1,.2f}'.format(KMB_CENA / 2000.0)}} Kč (se slevou až 23%)</small> - <button data-toggle="collapse" data-target="#info_kmb">více ..</button></h3>
    <p id="info_kmb" class="well collapse"><b>KILOMETRICKÁ BANKA - Získáte předplacené kilometry na vlaky (Českých Drah).</b><br>
        Bez uvedení jména (doklad je přenosný) a <b>bez chození k pokladně můžete jet levněji sám/sama nebo ve dvou.</b><br>
        <b>Odečte se nejméně 100 km za každého cestujícího</b> (proto se KMB nepoužívá pro cesty pod 80 km).<br>
        Celá stojí {{=KMB_CENA}} Kč / 2000 km a platí 6 měsíců. Zde můžete získat KMB částečně projeté.<br>
        <a href="https://www.cd.cz/typy-jizdenek/vnitrostatni-jizdenky/-26113/" class="btn btn-info">podrobnosti na cd.cz</a></p>
    {{if kmb:}}
        <div id="no-more-tables"> <!-- https://bootsnipp.com/snippets/featured/no-more-tables-respsonsive-table -->
        <table class="col-md-12 table-bordered table-striped table-condensed"> <!-- cf -->
            <thead> <!-- class="cf" -->
                <tr>
                    <th></th>
                    <th>Kč</th>
                    <th>Kč/km</th>
                    <th>km</th>
                    <th>do</th>
                    <th>předání</th>
                    <th>kontakt</th>
                </tr>
            </thead>
            <tbody>
                {{for kmb1 in kmb:}}<tr>
                    <td>{{if kmb1.auth_user_id == auth.user_id:}}<a href="{{=URL('kmb', 'edit', args=kmb1.id)}}" class="btn btn-small btn-success">edit</a>{{pass}}</td>
                    <td data-title="Kč">{{=kmb1.cena}}</td>
                    <td data-title="Kč/km">{{="%s" % round(float(kmb1.cena) / kmb1.km, 3)}}</td>
                    <td data-title="km"><b>{{=kmb1.km}}</b></td>
                    <td data-title="platí do"><b>{{=db.kmb.platnost.formatter(kmb1.platnost)}}</b></td>
                    <!--<td data-title="platí do"><b>{{=kmb1.platnost.strftime(str(T('%Y-%m-%d')))}}</b></td>-->
                    <td data-title="předání"><small>{{=kmb1.predani}}</small></td>
                    <td data-title="kontakt"><small>{{=kmb1.kontakt}}</small></td>
                </tr>{{pass}}
            </tbody>
        </table>
        </div>
    {{else:}}
    <p>Nyní KMB nikdo nenabízí. Můžete ji leda zakoupit v pokladně ČD: 6 měsíců platnost, 2000 km za 2200,- Kč.</p>
    {{pass}}
    <p>Podpořte burzu <small>(a Vám to pomůže, aby Vám nevypršela platnost KMB)</small>:
        <a href="{{=URL('kmb', 'add')}}" class="btn btn-success">Nabízím KMB k prodeji</a></p>
</div>
