{{extend 'layout.html'}}

<button data-toggle="collapse" data-target="#aplikace">Aplikace</button>
<div id="aplikace" class="collapse row">
    <div class="col-sm-12 btn-group">
        <a href="/krepo" class="btn btn-primary">K-Report mobilní čtečka</a>
    </div>
</div>

<button data-toggle="collapse" data-target="#pocasi">Počasí</button>
<div id="pocasi" class="collapse row">
    <div class="col-sm-4 btn-group">
        <a href="http://mapy.in-pocasi.cz/" class="btn btn-primary">Radar ČR 1</a>
        <a href="http://radar.bourky.cz/" class="btn btn-primary">Radar ČR 2</a>
        <a href="http://www.radareu.cz/" class="btn btn-primary">Evropa</a>
    </div>

    <div class="col-sm-4 btn-group">
        <a href="http://www.weather24.com" class="btn btn-info">Švýcaři</a>
        <a href="http://m.yr.no" class="btn btn-info">Norové</a>
        <a href="http://portal.chmi.cz/files/portal/docs/meteo/ov/aladin/results/ala.html#prec?" class="btn btn-info">Aladin (deště)</a>
    </div>

    <div class="col-sm-4 btn-group">
        <a href="http://www.meteoalarm.eu/" class="btn btn-warning">Výstrahy EU</a>
        <a href="http://portal.chmi.cz/files/portal/docs/meteo/om/zpravy/" class="btn btn-warning">ČR</a>
    </div>
</div>

<button data-toggle="collapse" data-target="#mapy">Mapy</button>
<div id="mapy" class="collapse row">
    <div class="col-sm-12 btn-group">
        <a href="http://www.openstreetmap.org/#map=9/50.0942/14.2740" class="btn btn-primary">Osm</a>
        <a href="https://mapy.cz/turisticka?x=14.4206948&y=50.0326060&z=10&l=0" class="btn btn-primary">Seznam</a>
    </div>
</div>

<button data-toggle="collapse" data-target="#doprava">Doprava</button>
<div id="doprava" class="collapse row">
    <div class="col-sm-4 btn-group">
        <a href="http://www.idos.cz/" class="btn btn-primary">Jízdní řády</a>
        <a href="http://www.jizdni-rady.nanadrazi.cz/index.php?page=odkazy-na-vlakove-jizdni-rady" class="btn btn-primary">JŘ2</a>
    </div>

    <div class="col-sm-4 btn-group">
        <a href="http://jizdenka.idos.cz/NT.aspx" class="btn btn-info">Cena</a>
        <a href="http://www.cd.cz/mezinarodni-cestovani/jizdenka/sleva.php" class="btn btn-info">EU slevy</a>
        <a href="http://vlakem.net/" class="btn btn-info">EU jak?</a>
        <a href="http://www.europetrainsguide.com/" class="btn btn-info">EU Guide</a>
    </div>

    <div class="col-sm-4 btn-group">
        <a href="http://www.cd.cz/" class="btn btn-warning">ČD</a>
        <a href="http://www.cd.cz/mapa/" class="btn btn-warning">!</a>
    </div>

    <div class="col-sm-4 btn-group">
        <a href="http://www.regiojet.cz/" class="btn btn-default">Regiojet</a>
        <a href="https://www.regiojet.cz/nase-trasy/mapa/" class="btn btn-default">iM</a>
        <a href="https://jizdenky.regiojet.cz/OnTheRoad?0" class="btn btn-default">!</a>
    </div>
</div>
