{{extend 'layout.html'}}

<h2>Nabízím KMB</h2>

<p class="info well">
    Zveřejnění a zprostředkování nabídky KMB je zdarma.<br>
    Provozovatel webu upozorňuje, že za dohodu mezi nabízejícím a kupujícím nenese odpovědnost.<br><br>
    Nabídka se bude zobrazovat až do ukončení platnosti KMB,<br>
    ale přihlášenému uživateli se zobrazuje tlačítko a může ji kdykoli zrušit.<br>
    Prosím, aktualizujte co nejdříve zůstatek km a požadovanou cenu. Díky...
</p>

<div class="well">
<button id="normalprice" class="btn btn-success">Připrav cenu za km jako při nákupu u ČD</button>
{{=form}}

{{if kmb_id:}}
    <a href="{{=URL('kmb', 'delete', args=kmb_id)}}" class="btn btn-danger">Zrušit tuto nabídku</a>
{{else:}}
    <a href="{{=URL('portal', 'main')}}" class="btn btn-info">Zpět (bez vložení nabídky)</a>
{{pass}}
</div>

<script>
    bootbox.setLocale('cs');
    $('#normalprice').click(function() {
        var km = $('#kmb_km').val();
        if (km < 1 || km > 2000) {
            bootbox.alert("{{=T('Nejprve zadej zůstatek km.')}}")
        } else {
            $('#kmb_cena').val(({{= KMB_CENA / 2000.0}} * km).toFixed(0));
        }
    })
</script>
